*.o
*.pyc
*.mail
*.pyf
*.exe
backend/Data/*.geo
backend/Data/*.log
backend/Data/*.mail
backend/Data/*.msh
examples/*.txt
examples/*.pdf
examples/*.log
docs/*.tex
docs/*.aux
docs/*.log
docs/*.fdb_latexmk
docs/*.gz
docs/*.out
docs/*.toc
test*/*.txt
test*/*.pdf
backend/fortran/EMUstack.cpython-*
backend/fortran/msh/500_0_500_0_120.geo
backend/fortran/msh/500_0_500_0_120.msh
build
builddir
.coverage
*.egg-info
docs/build
.pytest_cache
__pycache__
.coverage
emustack/fortran/lib/*.o