*.o
*.pyc
*.mail
*.pyf
*.exe
examples/*.txt
examples/*.pdf
examples/*.log
docs/*.tex
docs/*.aux
docs/*.log
docs/*.fdb_latexmk
docs/*.gz
docs/*.out
docs/*.toc
docs/source/examples 
docs/source/generated 
docs/source/sg_execution_times.rst
test*/*.txt
test*/*.pdf
emustack/fortran/EMUstack.cpython-*
emustack/fortran/msh/500_0_500_0_120.geo
emustack/fortran/msh/500_0_500_0_120.msh
build
builddir
.coverage
*.egg-info
docs/build
.pytest_cache
__pycache__
.coverage
emustack/fortran/lib/*.o
htmlcov

!emustack/data/.mail
!emustack/fortran/msh/*.mail